<form [formGroup]="positionForm" (ngSubmit)="onSubmit()">
    <div nz-form-item nzGutter>
      <nz-input-group>
        <input nz-input formControlName="name" placeholder="Position Name" />
      </nz-input-group>
    </div>
    
    <div nz-form-item nzGutter>
      <nz-input-group>
        <input nz-input formControlName="description" placeholder="Position Description" />
      </nz-input-group>
    </div>
    
    <div nz-form-item nzGutter>
        <nz-select formControlName="parentId" nzShowSearch nzPlaceHolder="Select Parent">
            <nz-option *ngFor="let position of positions" [nzValue]="position.id" [nzLabel]="position.name"></nz-option>
          </nz-select>
          
    </div>
    
    <div nz-form-item>
      <button nz-button [nzType]="'primary'" type="submit">Submit</button>
    </div>
  </form>
  
  
